.group
  = f.label :nome, t("activerecord.attributes.unidade.nome", :default => "Nome"), :class => :label
  = f.text_field :nome, :class => 'text_field'
  %span.description Ex: a simple text
.group
  = f.label :endereco, t("activerecord.attributes.unidade.endereco", :default => "Endereco"), :class => :label
  = f.text_field :endereco, :class => 'text_field'
  %span.description Ex: a simple text
.group
  = f.label :bairro, t("activerecord.attributes.unidade.bairro", :default => "Bairro"), :class => :label
  = f.text_field :bairro, :class => 'text_field'
  %span.description Ex: a simple text
.group
  = f.label :telefone, t("activerecord.attributes.unidade.telefone", :default => "Telefone"), :class => :label
  = f.text_field :telefone, :class => 'text_field'
  %span.description Ex: a simple text
.group
  = f.label :email, t("activerecord.attributes.unidade.email", :default => "Email"), :class => :label
  = f.text_field :email, :class => 'text_field'
  %span.description Ex: a simple text
.group
  = f.label :responsavel, t("activerecord.attributes.unidade.responsavel", :default => "Responsavel"), :class => :label
  = f.text_field :responsavel, :class => 'text_field'
  %span.description Ex: a simple text
.group.navform.wat-cf
  %button.button{:type => "submit"}
    = image_tag("web-app-theme/icons/tick.png", :alt => "#{t("web-app-theme.save", :default => "Salvar")}")
    = t("web-app-theme.save", :default => "Save")
  %span.text_button_padding= t("web-app-theme.or", :default => "ou")
  = link_to t("web-app-theme.cancel", :default => "Cancelar"), unidades_path, :class => "text_button_padding link_button"
