%p#notice= notice

%p
  %b Nis:
  = @familium.nis
%p
  %b Data cadastro:
  = @familium.data_cadastro
%p
  %b Logradouro:
  = @familium.logradouro
%p
  %b Numero:
  = @familium.numero
%p
  %b Complemento:
  = @familium.complemento
%p
  %b Bairro:
  = @familium.bairro
%p
  %b Municipio:
  = @familium.municipio
%p
  %b Cep:
  = @familium.cep
%p
  %b Telefone:
  = @familium.telefone
%p
  %b Tipo telefone:
  = @familium.tipo_telefone
%p
  %b Tempo residencia municipio:
  = @familium.tempo_residencia_municipio
%p
  %b Tempo residencia casa:
  = @familium.tempo_residencia_casa
%p
  %b Forma ocupacao:
  = @familium.forma_ocupacao
%p
  %b Grau risco:
  = @familium.grau_risco
%p
  %b Caracteristica casa:
  = @familium.caracteristica_casa
%p
  %b Total comodos:
  = @familium.total_comodos
%p
  %b Abastecimento agua:
  = @familium.abastecimento_agua
%p
  %b Acondicionamento agua:
  = @familium.acondicionamento_agua
%p
  %b Qualidade agua:
  = @familium.qualidade_agua
%p
  %b Esgotamento sanitario:
  = @familium.esgotamento_sanitario
%p
  %b Instalacoes sanitarias:
  = @familium.instalacoes_sanitarias
%p
  %b Vaso:
  = @familium.vaso
%p
  %b Pia:
  = @familium.pia
%p
  %b Chuveiro:
  = @familium.chuveiro
%p
  %b Energia eletrica:
  = @familium.energia_eletrica
%p
  %b Destinacao lixo:
  = @familium.destinacao_lixo
%p
  %b Ativo:
  = @familium.ativo

= link_to 'Edit', edit_familium_path(@familium)
\|
= link_to 'Back', familia_path
