.block
  .secondary-navigation
    %ul.wat-cf
      %li.first.active= link_to "#{t("web-app-theme.list", :default => "Listar")}", bairros_path
      %li= link_to "#{t("web-app-theme.new", :default => "Novo")}", new_bairro_path
  .content
    %h2.title
      = t("web-app-theme.all", :default => "Todos")
      Bairros
    .inner
      %table.table
        %tr
          %th.first ID
          %th
            = t("activerecord.attributes.bairro.nome", :default => t("activerecord.labels.nome", :default => "Nome"))
          %th= t("web-app-theme.created_at", :default => "Criado em")
          %th.last &nbsp;
        - @bairros.each do |bairro|
          %tr{:class => cycle("odd", "even")}
            %td
              = bairro.id
            %td
              = link_to bairro.nome, bairro_path(bairro)
            %td
              = bairro.created_at
            %td.last
              = link_to "#{t("web-app-theme.show", :default => "Mostrar")}", bairro_path(bairro)
              |
              \#{link_to "#{t("web-app-theme.edit", :default => "Editar")}", edit_bairro_path(bairro)} |
              \#{link_to "#{t("web-app-theme.delete", :default => "Excluir")}", bairro_path(bairro), :method => :delete, :confirm => "#{t("web-app-theme.confirm", :default => "Are you sure?")}"}
      .actions-bar.wat-cf
        .actions
- content_for :sidebar, render(:partial => 'sidebar')
